* {
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

body {
    margin: 0;
}

.page {
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: rgba($color: #ffffff, $alpha: 0.5);
    animation: fadeIn2 0s 1s forwards;
}

@keyframes fadeIn2 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    margin-bottom: -100px;
    border: 20px solid #eaeaea;
    border-top: 20px solid #3498db;
    border-radius: 50%;
    animation: spin 1s cubic-bezier(0.37, 0, 0.745, 0.715) forwards;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.logo {
    & img {
        display: block;
        margin: 20px auto 14px auto;
        width: 165px;
        height: 28px;
    }
}

.location {
    display: flex;
    justify-content: center;
    column-gap: 15px;
    background-color: #EAEAEA;
    box-shadow: inset 0px 3px 3px #d6d3d3;
    padding-top: 15px;
    padding-bottom: 15px;
}

.intro {
    background-color: #F6F6F6;
    padding-top: 22px;
    padding-bottom: 60px;

    &__title {
        width: 265px;
        margin: auto;

        & h1 {
            font-size: 24px;
        }
    }

    &__content {
        width: 310px;
        margin: auto;
        padding-top: 8px;
        padding-bottom: 10px;

        @include tablet {
            width: 420px;
        }

        & p {
            font-size: 18px;
            text-align: center;

            @include tablet {
                white-space: nowrap;
            }
        }
    }

    &__button {
        font-size: 16px;
        color: white;
        background-image: linear-gradient(0deg, #9356DC, #FF79DA);
        width: 218px;
        height: 52px;
        display: block;
        border: none;
        border-radius: 2em;
        margin: auto;
        box-shadow: 5px 5px 7px #d6d3d3;

        &:hover {
            filter: brightness(1.05) drop-shadow(5px 5px 7px #d6d3d3);
        }
    }
}

.procedures {
    width: 335px;
    margin: 30px auto 70px auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    @include tablet {
        width: 730px;
        margin: 30px auto 50px auto;
        row-gap: 30px;
    }

    @include desktop {
        width: 980px;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 10px;

        @include tablet {
            margin-bottom: 0px;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        align-items: flex-end;

        @include tablet {
            flex-direction: row;
            column-gap: 55px;
            flex-wrap: wrap;
        }

        @include desktop {
            column-gap: 35px;
            justify-content: flex-end;
        }

        &__box {
            background-color: #F6F6F6;
            width: 325px;
            display: flex;
            flex-direction: row;
            column-gap: 25px;
            align-items: center;
            border-radius: 1.5em;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 38px;
            box-shadow: 5px 5px 7px #d6d3d3;
            position: relative;

            @include tablet {
                width: 335px;
                column-gap: 20px;
                padding-left: 30px;
            }

            @include desktop {
                width: 300px;
            }

            .step {
                font-size: 14px;
                color: #F6F6F6;
                background-color: #9356DC;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 23px;
                height: 23px;
                border-radius: 50%;
                position: absolute;
                top: 25px;
                left: -10px;
                padding: 0;
            }

            p {
                font-weight: bold;
            }

            &:hover {
                background-color: #F6EDFF;

                .icon {
                    color: #9356DC;
                }
            }
        }
    }
}

.restaurants {
    background-color: #F6F6F6;
    padding-top: 30px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        padding-bottom: 30px;
    }

    h2 {
        font-size: 24px;
        padding-right: 200px;

        @include tablet {
            padding-right: 600px;
            padding-bottom: 30px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        @include desktop {
            padding-right: 850px;
        }
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        @include tablet {
            width: 1000px;
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 60px;
            row-gap: 50px;
            justify-content: center;
        }

        @include desktop {
            column-gap: 80px;
            justify-content: center;
        }

        .card {
            background-color: #FEFEFE;
            color: black;
            width: 330px;
            height: 245px;
            border-radius: 1em;
            box-shadow: 5px 5px 7px #d6d3d3;
            position: relative;

            @include desktop {
                width: 450px;
                height: 225px;
            }

            img {
                width: 100%;
                height: 69%;
                border-radius: 1em 1em 0 0;
                object-fit: cover;
                object-position: 50% 100%;

                @include desktop {
                    object-position: 50% 70%;
                }
            }

            .enchanted-img {
                object-position: 50% 60%;

                @include desktop {
                    object-position: 50% 57%;
                }
            }

            .label {
                width: 75px;
                height: 30px;
                background-color: #99e2d0;
                border-radius: 0.2em;
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 14px;
                color: green;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &__info {
                h3 {
                    margin-top: 0;
                    margin-bottom: 0;
                    font-size: 18px;
                    position: absolute;
                    bottom: 38px;
                    left: 15px;
                }

                p {
                    margin-top: 0;
                    margin-bottom: 0;
                    font-size: 17px;
                    font-weight: 300;
                    position: absolute;
                    bottom: 15px;
                    left: 15px;
                }
            }

            .like-icon {
                position: absolute;
                bottom: 30px;
                right: 25px;

                .heart {
                    font-size: 22px;
                }

                .solid-heart:hover {
                    opacity: 1;
                }

                .solid-heart {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background-image: linear-gradient(225deg, #9356DC, #FF79DA);
                    background-clip: text;
                    color: transparent;
                    opacity: 0;
                    transition: opacity 500ms;
                }
            }
        }
    }
}

footer {
    background-color: #353535;
    padding: 10px 20px 30px 25px;

    @include desktop {
        padding: 60px 30px 30px 25px;
        position: relative;
    }

    h2 {
        font-family: "Shrikhand", serif;
        font-size: 18px;
        color: #FEFEFE;

        @include desktop {
            position: absolute;
            bottom: 13px;
            right: 60px;
        }
    }

    .links {
        list-style-type: none;
        padding: 0px 20px 0px 0px;
        margin: 0;
        line-height: 160%;

        @include desktop {
            line-height: 0%;
            text-align: right;
            padding-right: 180px;
        }

        .link {
            @include desktop {
                display: inline;
                margin-right: 50px;
            }

            i {
                width: 20px;
                color: #FEFEFE;
            }

            .utensils {
                font-size: 14px;
            }

            a {
                color: #FEFEFE;
                text-decoration: none;
            }

            .handshake-angle {
                font-size: 10px;
            }
        }
    }
}